.carousel .thumbs-wrapper {
    display: none;
}
.banner-area {
    margin-top:66px;
}
.banner-content {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: left;
}
.banner-content2 {
    position: absolute;
    top: 40%;
    text-align: left;
    width: 50%;
}
.single-banner {
    background-image: url('../../../images/banner.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.single-banner1 {
    background-image: url('../../../images/bad-banner.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-content h1, .banner-content2 h1 {
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.banner-content p, .banner-content2 p{
    font-size: 16px;
    font-weight: 500;
}
.box-button {
    font-size: 19px;
}
.text-style {
    color: #BB2D3B;
}
.carousel.carousel-slider {
    height: 100%;
}
.carousel-root {
    height: 100%;
}
.carousel .control-dots .dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}