.single-product img {
    width: 100%;
    margin-bottom: 10px;
    height: 270px;
}
.section-title h2 {
    font-size: 45px;
}
.single-product {
    margin-bottom: 35px;
    transition: .6s;
    z-index: -1;;
    overflow: hidden;
    border:2px solid transparent;
}
.single-product:hover {
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* color: #fff; */
    border:2px solid #eaeaea;
}
.single-product img {
    transform: scale(1);
    transition: .5s;
    display: inline-block;
}

.single-product:hover img{
    transform: scale(1.1);
}