.single-product img {
    width: 100%;
    margin-bottom: 10px;
    height: 270px;
}
.section-title h2 {
    font-size: 45px;
}
.single-product {
    margin-bottom: 35px;
    transition: .4s;
}
.single-product:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}